* {margin: 0; padding: 0;}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #858585;
  background: #373737 url(images/bg.jpg) repeat;	
}

.header {
  background: url(images/bg-header.jpg) repeat-x;
  padding: 50px 100px 30px 100px;
  overflow: hidden;
  position: relative;
}

.header p.info {
  width: 300px;
  font-size: 18px;
}

.header h1, h2 {
  color: white;
  font-weight: normal;
  font-size: 30px;
  padding: 10px 0;
}

div.contacts {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 0 100px 0 0px;
  width: 19%;
}

a {
  text-decoration: none;
  color: #00deff;
  padding-bottom: 1px;
  border-bottom: 1px dotted #00deff;
}

a:hover {
  background: #525252;
  border-bottom: 1px solid;
}

.content-item {
  padding: 20px 0 20px 100px;
  width: 62%;
  position: relative;
  float: left;
}

.content-item.blog {
  background: url(images/bg-h2.png) no-repeat top 60px;
}

div.date {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 39px;
  height: 39px;
  background: url(images/bg-date.gif) no-repeat center center;
  padding: 15px 20px;
  z-index: 0;
  display: ;
}

.date .day{
  font-size: 30px;
  color: #adadad;
}

.date .month {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #adadad;
}

.content-item h3, .contacts h3 {
  font-weight: normal;
  font-size: 24px;
  color: #b8b8b8;
  padding-bottom: 20px;
}

.content-item h2 a, h1 a {
  color: white;
  border-color: white;
}

h1 a {
  border: none;
}

.content-item h2 a:hover {
  border-bottom: 1px solid;
}

.content-item p {
  padding-left: 10px;
  margin-bottom: 20px;
}

ul.sidebar {
  width: 20%;
  margin: 0 0 0 20px;
  top: 0;
  list-style: none;
}

.sidebar li a {
  display: block;
  border: none;
  margin-top: 20px;
  text-indent: -10000px;
}

.sidebar li a.github {
  background: url(images/logo-github.png) no-repeat;
  width: 129px;
  height: 56px;
}

.sidebar li a.twitter {
  background: url(images/logo-twitter.png) no-repeat;
  width: 128px;
  height: 30px;
}

.sidebar li a.flickr {
  background: url(images/logo-flickr.png) no-repeat;
  width: 128px;
  height: 40px;
}

.sidebar li a.gmail {
  background: url(images/logo-gmail.png) no-repeat;
  width: 128px;
  height: 57px;
}

.contacts h3 {
  margin-top: 30px;
  padding: 0;
}

.footer p {
  font-size: 12px;
  line-height: 160%;
  padding-left: 0;
  margin: 0;
}

.chat {
  margin-left: 10px;
  color: #cacaca;
  padding: 10px 0;
  background: #3b3b3b;
  position: relative;
  margin-bottom: 30px;
}

.chat .right {
	min-height: 53px;
  background: #3b3b3b url(images/upic-me.jpg) no-repeat right top;
  padding: 10px 83px 10px 10px;
  border: 10px solid #3b3b3b;
}

.chat .left { 
  background-color: #4c4c4c;
  padding: 10px 10px 10px 83px;
  border: 10px solid #4c4c4c;
}

.chat.oleganza .left {
  background: #4c4c4c url(images/upic-oleganza.jpg) no-repeat left top;
}

.chat.elise .left {
  background: #4c4c4c url(images/upic-elise.jpg) no-repeat left top;
}

.chat.talbott .left {
  background: #4c4c4c url(images/upic-talbott.jpg) no-repeat left top;
}
.chat.defunkt .left {
  background: #4c4c4c url(images/upic-defunkt.jpg) no-repeat left top;
}
.chat.bates .left {
  background: #4c4c4c url(images/upic-bates.jpg) no-repeat left top;
}
.chat.aimonetti .left {
  background: #4c4c4c url(images/upic-aimonetti.jpg) no-repeat left top;
}
.chat.pabcas .left {
  background: #4c4c4c url(images/upic-pabcas.jpg) no-repeat left top;
}
.chat.peterc .left {
  background: #4c4c4c url(images/upic-peterc.jpg) no-repeat left top;
}
.chat.pat .left {
  background: #4c4c4c url(images/upic-pat.jpg) no-repeat left top;
}
.chat.akita .left {
  background: #4c4c4c url(images/upic-akita.jpg) no-repeat left top;
}
.content-item ul, .content-item ol {
  margin: 0 0 20px 10px;
  list-style-position: inside;
  padding: 0;
}

.content-item ul {
  list-style: none;
}


.content-item ul li, .content-item ol li {
  margin-bottom: 10px;
}

.content-item ul li {
  padding-left: 25px;
  background: url(images/bullet-arrow.png) no-repeat left 50%;
}

.chat ul, .chat ol {
  margin-bottom: 0;
}

.chat p {
  padding: 0;
}

.chat .rounded {
  width: 9px;
  height: 9px;
  position: absolute;
  background-image: url(images/corners-dark.png);
}

.chat .rounded.lt {
  top: 0;
  left: 0;
}

.chat .rounded.rt {
  top: 0;
  right: 0;
  background-position: 9px 0;
}

.chat .rounded.lb {
  bottom: 0;
  left: 0;
  background-position: 0 -9px;
}

.chat .rounded.rb {
  bottom: 0;
  right: 0;
  background-position: 9px 9px;
}

.thumb {
  float: left;
  background: url(images/thumb.gif) no-repeat center center;
  padding: 10px;
}