// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

//@import blueprint/modules/liquid.sass
//+blueprint-liquid-grid

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body")
body
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
body
  .page
    +container
  .footer
    +column(!blueprint_grid_columns)
    padding-top: 50px
    p
      margin= 0 0 10px 0
  div.sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = floor(!blueprint_grid_columns / 4)
    +column(!sidebar_columns)
  .content-area, .header
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = ceil(3 * !blueprint_grid_columns / 4)
    // true means it's the last column in the row
    +column(!content_columns, true)


body
  font: Helvetica, Arial, sans-serif
  background= !bg_color "url(/images/bg.png) repeat left top"
  color= !color
  font-size= !font_size
  line-height= round(!font_size * 1.6)
  .header
    padding-bottom= !blueprint_grid_margin * 5
    padding-top= !blueprint_grid_margin * 3
    p, h1 
      padding: 0
      margin: 0
    h1 a, h1
      border: none
      margin: !blueprint_grid_margin 0
  h2
    padding= !blueprint_grid_margin 0
    a.link.home
      color= !bg_color + #222
      border-color= !bg_color + #222
      font-size: 0.6em
  a, a:visited
    color= !links_color
    text-decoration: none
    border-bottom= 1px "dotted" !links_color
    padding-bottom: 1px
  h1, h1 a, h1 a:visited
    color= !color + #666
    font-weight: bold
    z-index: 1000
  h2, h2 a:visited, h2 a
    color= !color + #444
  h3
    color= !color + #222
  a:hover
    background-color= !bg_color + #111
    color= !links_color
  .sidebar .contacts, .sidebar ul.sidebar, div.sidebar h2, div.sidebar h3
    padding= 0 !blueprint_grid_margin

.page
  background: url(/images/bg-header.png) repeat-x left top 

body > .top-grad
  position: fixed
  top: 0
  height: 50px
  width: 100%
  background: url(/images/top-grad.png) repeat-x top

body > .site-menu
  position: fixed
  top: 0 
  right: 0
  font-size: 10px
  list-style: none
  li
    float: left


.content-item.blog
  padding-bottom= !blueprint_grid_margin * 2
  background: url(/images/bg-h2.png) no-repeat top left
  h2
    margin: 0 0 10px 0
  p
    padding= 0 !blueprint_grid_margin
  .chat p
    padding: 0

ul.sidebar
  list-style: none
  li a 
    display: block
    border: none
    margin-top: 20px
  li a.github
    background: url(/images/logo-github.png) no-repeat
    width: 129px
    height: 56px
    text-indent: -10000px
  li a.twitter 
    background: url(/images/logo-twitter.png) no-repeat
    width: 128px
    height: 30px
    text-indent: -10000px
  li a.flickr 
    background: url(/images/logo-flickr.png) no-repeat
    width: 128px
    height: 40px
    text-indent: -10000px
  li a.gmail
    background: url(/images/logo-gmail.png) no-repeat
    width: 128px
    height: 57px
    text-indent: -10000px

div.sidebar
  #flickr_badge_uber_wrapper
    padding: 10px
    a
      margin: 0 10px 10px 0
      display: block
      border: 0px
    a:hover
      background: transparent
  .flickr_badge_image 
    float: left
  .flickr_badge_image img 
    padding: 10px
    margin: 0
    background: url(/images/thumb.gif) no-repeat center center

.chat 
  margin-left: 10px
  color: #cacaca
  padding: 10px 0
  background: #3b3b3b
  position: relative
  margin-bottom: 30px
  .right 
    min-height: 73px
    background: #3b3b3b url(/images/upic-me.jpg) no-repeat right top
    padding: 0px 83px 0px 10px
    border: 10px solid #3b3b3b
  .left
    min-height: 73px
    background-color: #4c4c4c
    padding: 0px 10px 0px 83px
    border: 10px solid #4c4c4c

  ul, ol 
    margin-bottom: 0
  p 
    padding: 0
  .rounded 
    width: 9px
    height: 9px
    position: absolute
    background-image: url(/images/corners-dark.png)
  .rounded.lt 
    top: 0
    left: 0
  .rounded.rt 
    top: 0
    right: 0
    background-position: 9px 0
  .rounded.lb 
    bottom: 0
    left: 0
    background-position: 0 -9px
  .rounded.rb 
    bottom: 0
    right: 0
    background-position: 9px 9px

.chat.oleganza .left 
  background: #4c4c4c url(/images/upic-oleganza.jpg) no-repeat left top
.chat.elise .left 
  background: #4c4c4c url(/images/upic-elise.jpg) no-repeat left top
.chat.talbott .left 
  background: #4c4c4c url(/images/upic-talbott.jpg) no-repeat left top
.chat.defunkt .left 
  background: #4c4c4c url(/images/upic-defunkt.jpg) no-repeat left top
.chat.bates .left 
  background: #4c4c4c url(/images/upic-bates.jpg) no-repeat left top
.chat.aimonetti .left 
  background: #4c4c4c url(/images/upic-aimonetti.jpg) no-repeat left top
.chat.pabcas .left 
  background: #4c4c4c url(/images/upic-pabcas.jpg) no-repeat left top
.chat.peterc .left 
  background: #4c4c4c url(/images/upic-peterc.jpg) no-repeat left top
.chat.pat .left 
  background: #4c4c4c url(/images/upic-pat.jpg) no-repeat left top
.chat.akita .left 
  background: #4c4c4c url(/images/upic-akita.jpg) no-repeat left top

.content-item ul, .content-item ol 
  margin: 0 0 20px 10px
  list-style-position: inside
  padding: 0

.content-item ul, #twitter_update_list 
  list-style: none

.content-item ul li, .content-item ol li 
  margin-bottom: 10px

.content-item ul li
  padding-left: 25px
  background: url(/images/bullet-arrow.png) no-repeat left 50%
#twitter_update_list li
  padding: 20px 0 10px 0
  background: url(/images/hr-sidebar.gif) no-repeat bottom center 
  font-size: 12px


.thumb 
  float: left
  background: url(/images/thumb.gif) no-repeat center center
  padding: 10px