---
layout: default
---

<div class="content-item blog">
  <h2>{{ page.title }}. <a class="link home" href="/">Back&nbsp;to&nbsp;articles&nbsp;list</a></h2>
  <h3>{{ page.subtitle }}</h3>
	{{ content }}
</div>

<div class="content-item related">
	<h3>Related Posts</h3>
  <ul class="posts">{% for post in site.related_posts limit:3 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date_to_string }}</small>  </li>{% endfor %}
  </ul>
<p><a class="link home" href="/">Back to articles list</a></p>
</div>

<div id="disqus" class="content-item">
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/belitsky/embed.js"></script><noscript><a href="http://belitsky.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
